# Runtime requirements
--requirement requirements.in

# Better output errors
astunparse >= 1.6.0
typed-astunparse >= 2.0.4

# Testing
pytest
pytest-cov
pytest-mypy
py
hypothesis

# Linting
flake8
mccabe
pyflakes
pycodestyle

# Documentation
Sphinx

docutils
Jinja2
MarkupSafe
Pygments

# Miscellaneous
Paver
colorama
