# Python 2.6 compatibility
# argparse==1.4.0

# Py 2.6 / 2.7
# enum==0.4.6

six
typed-ast
astpretty

# Disable because pip-tools doesn't support yet installation from urls, add it manually to
# requirements.txt
#-r git_requirements.txt
