# Runtime requirements
--requirement requirements.in

# Testing
pytest
pytest-cov
pytest-mypy
py
hypothesis

# Linting
flake8
mccabe
pyflakes
pycodestyle

# Documentation
Sphinx

docutils
Jinja2
MarkupSafe
Pygments

# Miscellaneous
Paver
colorama
